// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

$dark-background-color: #0f172a;
$light-background-color: #1e293b;
$text-color: #eeeeee;
$green-color: #dcffb7;
$dark-green-color: #6c9e36;
$blue-color: #92c7cf;
